if is_create
  h3 Create new workout

form(method='post' action='')
  fieldset
    legend General Info
    .span12
      .span6
        input(type='hidden' name='personId' value='#{workout.personId}')
        label Date
        input(type='text' name='date' value='#{workout.date}')
        label Muscle Group
        input(type='text' name='muscleGroup' value='#{workout.muscleGroup}')
        label Exercise
        input(type='text' name='exercise' value='#{workout.exercise}')

  .form-actions
    button(type='submit' class='btn btn-primary') Save Workout
