if is_create
  h3 Create new workout

form(method='post' action='')
  table
    table
      thead
        tr
          th Person Id
          th Date
      tbody
        tr
          td
            input(type='text' name='personId' value='#{session.personId}')
          td
            input(type='text' name='date' value='#{session.date}')
    table
      caption Workout
        thead
          tr
            th Muscle Group
            th Exercise
            th Sets
        tbody
          tr
            td
              input(type='text' name='muscleGroup' value='#{session.workout[0].muscleGroup}')
            td
              input(type='text' name='exercise' value='#{session.workout[0].exercise}')


  .form-actions
    button(type='submit' class='btn btn-primary') Save Workout
